<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>app</title>
		<!-- uncache -->
        <link rel="stylesheet" type="text/css" href="/css/main-theme.css"/>
		<!-- enduncache -->
    </head>
    <body ng-app="app">
        {{{body}}}
		<!-- uncache -->
        <script src="/js/bundle.js"></script>
		<!-- enduncache -->
    </body>
</html>
